/* header styles */
.header{
    display: flex;
    justify-content: space-between;
}
.logo-container{
    width: 100px;
    height: auto;
}
.logo-container img{
    width: 100%;
    height: auto;
}
.nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-items ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin: 0 10px;
}
.nav-items ul li{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* Body styles */
.body{
    padding: 20px;
}
/* search bar styles with full width */
.search-bar input{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.restaurant-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: calc(15% - 20px);
}
.restaurant-card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* footer styles*/
.footer{
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    bottom: 0;
}